body { background-color: rgb(51, 51, 51); font-family: Arial, Georgia, serif; text-align: left;}
h2 { color: orange;}

.profile-container {
    width: 400px;
    height: 400px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #555;
    background-color: #111;
  }

.section-title{
  color: white;
}